{% extends 'base.html' %}

{% load static %}

{% block title %}device_list.html{% endblock %}

{% block extra-style %}
<style type="text/css">
.device_list {
    padding: 20px;
}

</style>
{% endblock %}

{% block content %}

  <h1>모든 제품</h1>
  <br>

  <ul>
    {% for device in object_list %}
      <li class="device_list">
        <a href="{% url 'device_detail' device.id %}">
          <img width="100px" height="100px" src="{{ device.getImagePath }}">
          {{ device.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
